@import url('https://fonts.googleapis.com/css2? family= Rubik:wght@300;500;700;800 & display=swap');

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{font-family: 'Rubik', sans-serif;
color: white;
}


.header {
    background-image: url(../assets/img/soldador.jpg) !important;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    
    }

.logo { 
    width: 30%;

}


.navbar-dark .navbar-nav .colorNav {
    color: rgb(238, 231, 231);
    font-size: 1.5rem;
}

.navbar-dark .navbar-nav .colorActive {
    color: rgb(238, 231, 231);
    font-size: 2rem;
}

.contenedorTituloPrin    {
    width: auto;
    height: auto;
    margin:auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
    backdrop-filter: blur(12px);
}


.tituloPrin {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(190, 179, 179);
}


.contenedorTituloPrin h2 {
    font-size: 2rem;
    padding-top: 50px
} 



.main   {
    background-image: linear-gradient(to right, #070607, #141214, #1c1b1d, #242327, #2b2c31, #2b2c31, #2b2c31, #2b2c31, #242327, #1c1b1d, #141214, #070607);

}

.contenedorCards  {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border-top:grey;
  }

.card1 {
    width: 40%;
    display:inline-block;
    box-shadow: 6px -2px 189px 65px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px -2px 189px 65px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px -2px 189px 65px rgba(0,0,0,0.75);
    background-color: rgb(73, 67, 67);
    padding: 10px;
    margin-top: 0px;
   
}


.card1 img{
    height: 40vh;
    width: 90%;
}


.cajaClientes {
    font-size: 1.5rem;
    height: 40vh;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 0rem;
}


.clientes {
    text-decoration: none;
    list-style: none;   
}


.cardFondo {
 background-color: #2b2c31;
}

.card-text {
    text-align: center;

}

.izquierda {
    font-size: 3rem;
    margin-top: 5rem;
    height: 10vh;
    text-align: center;
}

.derecha    {
    margin-top: 5px;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    margin-top: 7rem;
    text-align: center;
}

.izquierda2 {
    font-size: 3rem;
    margin-top: 5rem;
    height: 10vh;
    text-align: center;
}

.derecha2   {
    margin-top: 5px;
    font-size: 1.5rem;
    margin-bottom: 7rem;
    margin-top: 3rem;
    text-align: center;
}


.spanHistoria {
    font-size: 4rem;
    color: rgb(167, 139, 139);
}

.contacto {
    font-size: 4px;
}

.contenedorForm {
    background-color: #242327;
    border: 2px solid grey;
    box-shadow: 7px 13px 37px #2b2c31 ;
    height: auto;
}

.contenedorForm h1 {
    text-align: center;

}

.contenedorForm .boton {
    color: white;
    width: 50%;
    padding: 5px;
    background-color:  #242327;
    margin: 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.colorForm {
    color: white;
    font-size: 1rem;
    background-color: #242327;
    font-style: normal;
}


.contenedorPolitica {
    width: 100%;
    height: 30vh;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    backdrop-filter: blur(12px);
    padding: 100px;

}


.fondo {
    background-image: linear-gradient(to right, #070607, #141214, #1c1b1d, #242327, #2b2c31, #2b2c31, #2b2c31, #2b2c31, #242327, #1c1b1d, #141214, #070607);
}


.contPolitica {
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.contPolitica2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contPolitica2 a{
    text-decoration: none;
}


.footer { 
    background-image: linear-gradient(to right, #070607, #141214, #1c1b1d, #242327, #2b2c31, #2b2c31, #2b2c31, #2b2c31, #242327, #1c1b1d, #141214, #070607);
    background-color: pink;
    padding: 0;
    width: 100%;
    text-align: center;
}

.footer p{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

.titulo {
    color: rgb(167, 139, 139);
    font-size: 2rem;
}

.redes   {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2rem 0;

}

.redes li{
    margin: 0 10px;

}

.redes a{
    text-decoration: none;
    color: white;

}
.redes a i{
    font-size: 3rem;
    transition: color .4s ease;
    padding: 5px;
}

.redes a:hover i{
    color: rgb(167, 139, 139);

}


.derechos {
    color: rgb(167, 139, 139);
    background-color: #252425;
    word-spacing: 5px;
    text-transform: capitalize;
}

