@import url('https://fonts.googleapis.com/css2? family= Rubik:wght@300;500;700;800 & display=swap');

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{font-family: 'Rubik', sans-serif;
color: white;
}


.header {
    background-image: url(../assets/img/soldador.jpg) !important;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    }

.logo { 
    width: 30%;
}


.navbar-dark .navbar-nav .colorNav {
    color: rgb(238, 231, 231);
    font-size: 1.5rem;
}

.navbar-dark .navbar-nav .colorActive {
    color: rgb(238, 231, 231);
    font-size: 2rem;
}

.contenedorTituloPrin    {
    width: 50%;
    height: 30vh;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    backdrop-filter: blur(12px);

}

.contenedorTituloPrin h1 { 
    font-size: 3rem;
    padding-top: 10px;
}


.contenedorTituloPrin h2 {
    font-size: 2rem;
    padding-top: 50px
} 

.main   {
    background-image: linear-gradient(to right, #070607, #141214, #1c1b1d, #242327, #2b2c31, #2b2c31, #2b2c31, #2b2c31, #242327, #1c1b1d, #141214, #070607);

}


.marginHr {
    padding-top: 5px;
    margin-bottom: 0px;
}

.contenedorCards  {
    text-align: center;
    width: 90%;
    margin: 0 auto;
 
  }

.card1 {
    width: 40%;
    display:inline-block;
    box-shadow: 6px -2px 189px 65px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px -2px 189px 65px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px -2px 189px 65px rgba(0,0,0,0.75);
    background-color: rgb(73, 67, 67);
    padding:10px
   
}

.card1 img{
    height: 40vh;
    width: 90%;
}

.cardFondo {
    background-color: rgb(73, 67, 67);
    text-align: center;
    box-shadow: 6px -2px 189px 65px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px -2px 189px 65px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px -2px 189px 65px rgba(0,0,0,0.75);
}

.contenedor {
    width: 30%;
}

.contenedor img {
    width: 100% !important ;
}

.cajaClientes {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-decoration: none;
    color: white;
}

.clientes {
    text-decoration: none;
    list-style: none;
    
}



.footer { 
    background-image: linear-gradient(to right, #070607, #141214, #1c1b1d, #242327, #2b2c31, #2b2c31, #2b2c31, #2b2c31, #242327, #1c1b1d, #141214, #070607);
    height: 40vh;
    background-color: pink;
    text-align: center;
    padding: 5px;
}

.footer p{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 0;
}

.contenedorRedes {
    width: 30%;
    display: inline-block;
    margin-top: 10px;
    padding: 15px;
  
}

.contenedorMapa {
    width: 30%;
    display: inline-block;
    background-color: green;
}


.icono {
    color: white;
    font-size: 3rem;
    padding: 10px;
}